 <!--header-->
 <%- include('header')%>
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Tài khoản</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
    <script type="text/javascript">
            function kiemTramMatKhau(){
            var thongbao1=document.getElementById("thongbao1");
            var thongbao2=document.getElementById("thongbao2");
            var thongbao3=document.getElementById("thongbao3");
            var thongbao4=document.getElementById("thongbao4");

    
            if(frmTaiKhoan2.mat_khau.value==""){
                thongbao1.style.display="block";
                thongbao1.style.color="red";
                return false;
            }
            else{
                thongbao1.style.display="none";
            }

            if(frmTaiKhoan2.mat_khau.value.length <8){
                thongbao4.style.display="block";
                thongbao4.style.color="red";
                return false;
            }
            else{
                thongbao4.style.display="none";
            }
    
    
            if(frmTaiKhoan2.mat_khau_xn.value==""){
                thongbao2.style.display="block";
                thongbao2.style.color="red";
                return false;
            }
            else{
                thongbao2.style.display="none";
            }
    
            if(frmTaiKhoan2.mat_khau.value!=frmTaiKhoan2.mat_khau_xn.value){
                thongbao3.style.display="block";
                thongbao3.style.color="red";
                return false;
            }
            else{
                thongbao3.style.display="none";
            }
    
            return true;
        }
     </script>  
        
        <!-- My Account Start -->
        <div class="my-account">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active"  href="/taikhoan" role="tab">Thông tin tài khoản</a>
                            <a class="nav-link"  href="/ttdonhang" role="tab">Đơn hàng</a>
                            <a class="nav-link" href="/dangxuat">Đăng xuất</a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">
                            <div class="tab-pane fade show active">
                                <h4>Thông tin tài khoản</h4>
                                <form action="/capnhattaikhoan" method="post"  name="frmTaiKhoan">

                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" value="<%-hoten%>" name="ho_ten" id="ho_ten">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" value="<%-tendn%>" name="ten_dn" id="ten_dn">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" value="<%-sodt%>" name="so_dt" id="so_dt">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" value="<%-email%>" name="eamil" id="email">
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" value="<%-diachi%>" name="dia_chi" id="dia_chi">
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit">Cập nhật tài khoản</button>
                                        <br><br>
                                    </div>
                        
                                </div>
                                </form>
                                <h4>Thay đổi mật khẩu</h4>
                                <form action="/thaydoimatkhau" method="post"  name="frmTaiKhoan2">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="password" placeholder="New Password" name="mat_khau" id="mat_khau">
                                            <p id="thongbao1" style="display:none">Vui lòng nhập password</p>
                                            <p id="thongbao4" style="display:none">Password phải có độ dài ít nhất 8 kí tự</p>

                                        </div>
                                        <div class="col-md-6">
                                            <input type="password" placeholder="Confirm Password" name="mat_khau_xn" id="mat_khau_xn">
                                            <p id="thongbao2" style="display:none">Vui lòng nhập lại password</p>
                                            <p id="thongbao3" style="display:none">Password nhập không chính xác.Mời bạn nhập lại password</p>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="submit" onclick="return kiemTramMatKhau()" >Lưu mật khẩu</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- My Account End -->
        
        
        <!-- Footer Start -->
        <%- include('footer')%>