        <!--header-->
        <%- include('header')%>
        
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
                    <li class="breadcrumb-item active">Thanh toán</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        
        <!-- Checkout Start -->
        <div class="checkout">
            <form name="frmdathang" method="post" action="/xulydathang">
            <div class="container"> 
                <div class="row">
                    <div class="col-md-7">
                        <div class="billing-address">
                            <h2>Thông tin thanh toán</h2>
                            
                            <div class="row">
                                <div class="col-md-10">
                                    <label>Tên khách hàng</label>
                                    <input class="form-control" name="ho_ten"  id="ho_ten" value="<%-hoten%>" type="text" required >
                                </div>
                                
                                <div class="col-md-10">
                                    <label>E-mail</label>
                                    <input class="form-control" type="text" name="email" id="email" value="<%-email%>" required>
                                </div>
                                <div class="col-md-10">
                                    <label>Số điện thoại</label>
                                    <input class="form-control" type="text" name="so_dt" id="so_dt" value="<%-sodt%>" required>
                                </div>
                                <div class="col-md-10">
                                    <label>Địa chỉ</label>
                                    <input class="form-control" type="text" name="dia_chi" id="dia_chi" value="<%-diachi%>" required>
                                </div>                            
                            </div>
                            
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="coupon">
                                        <input type="text" placeholder="mã khuyến mãi">
                                        <button>Áp dụng</button>
                                    </div>
                                </div>
                            </div>
                        </div>                                             
                    </div>
                    <div class="col-md-5">
                        <div class="checkout-summary">
                            <h2>Đơn hàng của bạn</h2>
                            <div class="checkout-content">
                                <h3>Sản Phẩm</h3>
                                <!--<p>Product Name<span>$11</span></p>
                                <p>Product Name<span>$11</span></p>
                                <p>Product Name<span>$11</span></p>
                                <p class="sub-total">Tổng <span>$22</span></p>
                                <p class="ship-cost">Phí giao hàng<span>$1</span></p>
                                <h4>Tổng cộng<span>$23</span></h4>-->
                                <%-donhang%>
                            </div>
                        </div>
                        
                        <div class="checkout-payment">
                            <h2>Phương Thức Thanh Toán</h2>
                            <div class="payment-methods">
                                <!--<div class="payment-method">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="payment-1" name="payment">
                                        <label class="custom-control-label" for="payment-1">Paypal</label>
                                    </div>
                                   <div class="payment-content" id="payment-1-show">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                        </p>
                                    </div>
                                </div>-->
                    
                                <div class="payment-method">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="payment-4" name="payment">
                                        <label class="custom-control-label" for="payment-4">Chuyển khoản ngân hàng</label>
                                    </div>
                                    <div class="payment-content" id="payment-4-show">
                                        <p>
                                            Thực hiện thanh toán vào ngay tài khoản ngân hàng của chúng tôi. Vui lòng sử dụng Mã đơn hàng của bạn trong phần Nội dung thanh toán. Đơn hàng sẽ đươc giao sau khi tiền đã chuyển.                                        </p>
                                    </div>
                                </div>
                                <div class="payment-method">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="payment-5" name="payment">
                                        <label class="custom-control-label" for="payment-5">Tiền mặt khi giao hàng</label>
                                    </div>
                                    <!--<div class="payment-content" id="payment-5-show">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                        </p>
                                    </div>-->
                                </div>
                            </div>
                            <div class="checkout-btn">
                                <button type="submit" >Đặt hàng</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
        <!-- Checkout End -->
        
        
        <!-- Footer Start -->
        <%- include('footer')%>